@{
    ViewBag.Title = "Home Page";
}

<table class="table container">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Actions</th>
            <th scope="col"><button class="btn btn-primary" type="button">Add new Student</button></th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-primary">View</button>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button type="button" class="btn btn-primary">View</button>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>

        </tr>
       
    </tbody>
</table>

